@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
}

body {
    font-family: "IBM Plex Sans"
}

header {
    background: rgba(0,255,0,0.4);  
    display: flex;
    padding: .5rem;
}

header p{
    margin: auto;
}

header p span {
    background: white;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
}

.btn-readmore {
    background: white;
    color: rgba(0,0,0,0.7);
    padding: 0.5rem 1rem;
    border-radius: 15px;
    border: 1px solid rgba(0,0,0,0.4);
    transition: all ease 0.3s;
}

.btn-readmore:hover {
    background: rgba(0,255,0,0.4);
}

nav {
    z-index: 99;
    display: flex;
    position: sticky;
    background: white;
    width: 100%;
    top: 0;
    padding: 1rem 2rem;
    align-items: center;
}

.nav__logo {
    flex: 1;
}

.nav__logo h1 {
    font-family: "Playfair Display";
    color: black;
}

.nav__links a {
    color: black;
}

.nav__links a.super {
    text-decoration: underline;
}

.nav__links a:not(:first-child) {
    margin-left: 2rem;
}

.nav__links a:hover {
    text-decoration: underline;
}

.nav__icons {
    display: none;
}

.nav__pop {
    display: none;
}

main {
    display: flex;
    justify-content: space-between;
    min-height: 60vh;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://media.assettype.com/outlooktraveller%2F2024-03%2F76663cd5-eb07-4659-b931-85f0a74f8d98%2Fnature_photographer_29ezCWtMtnM_unsplash.jpg?w=1200&auto=format%2Ccompress&fit=max);
    background-size: cover;
    background-attachment: fixed;
    margin: 1rem 2rem;
    padding: 5rem;
    border-radius: 1rem;
    color: white;
}

.hero__text h1 {
    font-family: "Playfair Display";
    font-size: 4rem;
}

.hero__text h2 {
    font-family: "Playfair Display";
    font-size: 2rem;
    font-weight: 500;
    font-style: italic;
}

.hero__text {
    width: 50%;
}


article {
    padding: 5rem 0;
    margin-left: 45%;
    transform: translateX(-45%);
}

article h1 {
    margin: 2rem 0;
    font-size: 2rem;
}

article p {
    color: rgba(0,0,0,0.6);
    font-size: 1.2rem;
    line-height: 1.3;
}

.packages {
    padding: 5rem 2rem;
}

.package__row {
    display: flex;
    justify-content: space-between;
}

.package__row:not(:first-child) {
    margin-top: 2rem;
}

.package {
    width: 22%;
    background: rgba(0,0,0,0.05);
    border-radius: 1rem;
    transition: all ease 0.3s;
}


.package:hover {
    background: rgba(0,255,0,0.4);
    width: 25%;
}

.package__banner {
    width: 100%;
}

.package__banner img {
    width: 100%;
    height: 20rem;
    filter: brightness(0.7);
    transition: all ease 0.3s;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.package:hover img {
    filter: brightness(1);
}

.package__text {
    padding: 2rem;
}

.package__text h1 {
    font-family: "Playfair Display";
    margin-bottom: 1rem;
}

.package__text h1 span {
    font-family: "IBM Plex Sans";
    background: gold;
    font-size: 0.9rem;
    padding: 0.2rem 0.5rem;
    border-radius: 5px;
}

.package__text p {
    font-weight: 300;
}

.package__text a {
    width: 100%;
}

.newsletter {
    background: rgba(0,255,0,0.4);
    padding: 5rem 2rem;
    display: flex;
}

.news__text {
    width: 45%;
}

.news__mail {
    width: 50%;
}

.news__mail input {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1rem;
}

.news__mail input[type="text"] {
    width: 80%;
    background: white;
}

.news__mail input[type="submit"] {
    margin-left: 1rem;
    background: black;
    color: white;
    font-weight: 600;
}

.news__mail p {
    margin-top: 0.5rem;
    text-align: right;
}

footer {
    display: flex;
    padding: 2rem 2rem;
}

.footer__text {
    flex: 1;
}

.footer__text h1 {
    font-family: "Playfair Display";
}

.footer__links {
    display: flex;
    flex-direction: column;
    width: 15%;
}

.footer__links h2 {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.footer__links a {
    font-size: 0.9rem;
    color: rgba(0,0,0,0.7);
    margin: 0.5rem 0;
}

.contact {
    display: flex;
    margin: 5rem 2rem;
    justify-content: space-between;
}

.contact__text {
    width: 45%;
}

.contact__text h1 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.contact__text p {
    color: rgba(0,0,0,0.7);
    line-height: 1.5;
}

.contact__mail {
    width: 45%;
}

.contact__mail label {
    font-size: 0.7rem;
}

.contact__mail label:last-child {
    margin-top: 2rem;
}

.contact__mail input {
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    border-top-left-radius: 0;
    border: none;
    background: rgba(0,0,0,0.05);
}

.contact__mail input:focus {
    background: rgba(0,255,0,0.4);
}

.contact__mail input[type="text"] {
    width: 80%;
}

.contact__mail input[type="submit"] {
    width: 60%;
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 10px;
    }
    .nav__links {
        display: none;
    }
    .nav__icons {
        display: block;
    }
    .nav__pop {
        transition: opacity ease 0.3s;
        flex-direction: column;
        padding: 1rem 2rem;
        background: white;
    }
    .nav__pop a {
        color: black;
        line-height: 2;
    }
    main {
        padding: 1rem;
    }
    .hero__text h1 {
        font-size: 2rem;
    }
    article {
        width: 80vw;
    }
    .package__row {
        flex-direction: column;
    }
    .package {
        width: 100%;
    }
    .package:not(:first-child) {
        margin-top: 2rem;
    }
    .package:hover {
        width: 100%;
    }
    .newsletter {
        flex-direction: column;
    }
    .news__text {
        width: 100%;
        margin-bottom: 2rem;
    }
    .news__mail {
        width: 100%;
    }
    .news__mail input[type="text"] {
        width: 60%;
    }
    .news__mail p {
        text-align: left;
    }
    footer {
        flex-direction: column;
    }
    .footer__links {
        margin-top: 2rem;
        width: 100%;
    }
    .contact {
        flex-direction: column;
    }
    .contact > div {
        width: 100%;
    }
    .contact__mail {
        margin-top: 2rem;
    }
}
